- 패키지매니저 pnpm
- next.js - app라우터 방식을 사용
- tsx, ts는 사용하지 않음 가급적 jsx,js 사용
- 백엔드 - supabase 사용
- style - tailwindcss 사용
- 아이콘은 lucide react 사용

### shadcn components
- 모든 ui컴포넌트는 shadcn사용 
- 컴포넌트 사용전 설치여부 확인 '@/components/ui'디렉토리
- 컴포넌트 사용전 설치 여부 확인
- 컴포넌트 설치 명령어 사용 'pnpm dlx shadcn@latest add [component-name]'
- 여러곳에서 사용될법한 컴포넌트는 재사용가능하도록 설계

### 그 외
- 모바일 전용 페이지 입니다.
- 제작한 페이지는 '@/utils/opengraph-image.js'의 코드를 확인해서 적절한 내용과 이미지를 가진 metadata를 생성해주세요.
